{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": [">1%", "last 2 versions", "safari >= 7"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        // "helpers": false
        // "polyfill": false,
        // "regenerator": true
        // "moduleName": "@babel/runtime"
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "react-loadable/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        // "style": "css"
        "style": true
      }
    ]
  ],
  "ignore": ["xxx.js", "xxx/**/*.js"]
}
